nav {
  position: fixed; /* Add this line */
  top: 0;
  z-index: 1000;
}

.centered-layout {
  min-height: 80vh;
  height: 85vh;
  overflow-y: auto;
  width: calc(100% - 150px);
  margin: auto;
  position: fixed;
  top: 12.5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  border: 2px solid var(--btn2-color);
}

form {
  padding: 10px;
  width: 90%;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  width: 400px;
  padding: 5px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

h1 {
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

input,
select,
option {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid var(--btn2-color);
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid var(--btn2-color);
  border-radius: 4px;
}

.div-textarea {
  width: 100%;
  margin-bottom: 20px;
}

input[type="submit"] {
  width: 50%;
  background-color: var(--btn3-color);
  color: #fff;
  cursor: pointer;
  margin: auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

th:first-child {
  width: 50px;
}

th:nth-child(2) {
  width: 250px;
}

th:nth-child(3) {
  width: 250px;
}

.frmButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.frmButton:hover {
  background-color: #45a049;
}

.div-table {
  margin: 20px 0 20px 0;
}
